body
    background #fff
    padding 0
    margin 0

h1
    margin 0
    vertical-align bottom
    line-height 60px
    text-indent .5em

#header
    background #CEE3F8
    border-bottom 1px solid #5F99CF
    min-height 60px

#main
    padding-left 2em

.post
    height 80px
    margin 10px 0
    padding 10px
    border-bottom 1px dashed #ddd

    .id, .score
        display inline-block
        line-height 80px
        height 80px
        vertical-align top

    .id
        width 30px

    .score
        font-weight bold
        width 50px

    .thumb
        width 80px
        max-height 100%
        margin-right 10px
        vertical-align middle

    .details
        display inline-block
        vertical-align top
        height 100%
        max-width 80%

        .title
            vertical-align top
            display block

        .author
            display inline-block
            margin-top 1em

#sorting
    .active
        color #999