body *
    box-sizing border-box

body
    background #fff
    padding 0
    margin 0

header
    background #CEE3F8
    border-bottom 1px solid #5F99CF
    min-height 60px

main
    padding-left 2em

h1
    margin 0
    vertical-align bottom
    line-height 60px
    text-indent .5em
