h1
    display inline-block
    margin 0
    line-height 60px
    text-indent .5em
    vertical-align middle

#SubredditSearch
    display inline-block
    margin-left 20px
    vertical-align middle
    white-space nowrap

    input
        display inline-block
        vertical-align middle
        margin-right 10px

    button
        vertical-align middle

#SortOptions
    display inline-block
    margin-left 20px
    vertical-align middle