.post
    $height = 60px

    height $height
    padding 10px
    border-bottom 1px dashed #ddd
    box-sizing content-box

    &.active
        background #eee

    .id, .score
        display inline-block
        line-height $height
        height $height
        vertical-align top

    .id
        width 30px

    .score
        font-weight bold
        width 50px

    .thumb
        width $height
        max-height 100%
        margin-right 10px
        vertical-align middle

    .details
        display inline-block
        vertical-align top
        height 100%
        max-width 80%

        .title
            vertical-align top
            display block
            color #00F
            font-size $font-size-large
            font-weight normal

        .author
            display inline-block
            margin-top 1em