body * {
  display: inline-block;
  box-sizing: border-box;
}
section,
main,
header,
footer {
  display: block;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
}
header {
  background: #cee3f8;
  border-bottom: 1px solid #5f99cf;
  min-height: 60px;
}
main {
  padding-left: 2em;
}
h1 {
  margin: 0;
  vertical-align: bottom;
  line-height: 60px;
  text-indent: 0.5em;
}
