body * {
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
}
header {
  background: #cee3f8;
  border-bottom: 1px solid #5f99cf;
  min-height: 60px;
}
main {
  padding-left: 2em;
  padding-top: 10px;
}
h1 {
  display: inline-block;
  margin: 0;
  line-height: 60px;
  text-indent: 0.5em;
  vertical-align: middle;
}
#SubredditSearch {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  white-space: nowrap;
}
#SubredditSearch input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
#SubredditSearch button {
  vertical-align: middle;
}
#SortOptions {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
.post {
  height: 60px;
  padding: 10px;
  border-bottom: 1px dashed #ddd;
  box-sizing: content-box;
}
.post.active {
  background: #eee;
}
.post .id,
.post .score {
  display: inline-block;
  line-height: 60px;
  height: 60px;
  vertical-align: top;
}
.post .id {
  width: 30px;
}
.post .score {
  font-weight: bold;
  width: 50px;
}
.post .thumb {
  width: 60px;
  max-height: 100%;
  margin-right: 10px;
  vertical-align: middle;
}
.post .details {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  max-width: 80%;
}
.post .details .title {
  vertical-align: top;
  display: block;
  color: #00f;
  font-size: 16px;
  font-weight: normal;
}
.post .details .author {
  display: inline-block;
  margin-top: 1em;
}
