body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
}
header {
  background: #cee3f8;
  border-bottom: 1px solid #5f99cf;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 5px 5px #fff;
  box-shadow: 0 5px 5px #fff;
}

.post-details {
  position: fixed;
  top: 61px;
  right: -60%;
  width: 60%;
  height: calc(100% - 61px);
  border-left: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: -3px 0 5px rgba(0,0,0,0.3);
  box-shadow: -3px 0 5px rgba(0,0,0,0.3);
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  padding: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}
.post-details.active {
  right: 0;
}
.post-details .post-meta-info {
  margin-bottom: 1em;
}
.post-details .title {
  display: block;
  margin: 0 0 0.5em;
  font-weight: bold;
  vertical-align: top;
  font-size: 28px;
  line-height: 1.2;
  margin-top: -6px;
}
.post-details .when,
.post-details .author {
  margin-right: 5px;
}
.post-details .comment {
  padding: 1em;
  background: #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1em;
  overflow: hidden;
}
.post-details .comment .details {
  font-size: 12px;
  margin-bottom: 0.5em;
}
.post-details .comment .details > * {
  margin-right: 5px;
}
.post-details .comment .details .comment-collapse,
.post-details .comment .details .comment-expand {
  cursor: pointer;
  display: none;
}
.post-details .comment .details .comment-collapse.show,
.post-details .comment .details .comment-expand.show {
  display: inline-block;
}
.post-details .comment .details .comment-collapse:hover,
.post-details .comment .details .comment-expand:hover {
  color: #000;
}
.post-details .comment .details .comment-collapse:before,
.post-details .comment .details .comment-expand:before {
  content: '[';
}
.post-details .comment .details .comment-collapse:after,
.post-details .comment .details .comment-expand:after {
  content: ']';
}
.post-details .comment .details .comment-collapse {
  display: inline-block;
}
.post-details .comment .details .author {
  font-weight: bold;
}
.post-details .comment .details .when {
  color: #999;
  font-style: italic;
}
.post-details .comment.even-tiered {
  background: #fafafa;
}
.post-details .comment.collapsed .comment-collapse {
  display: none;
}
.post-details .comment.collapsed .comment-expand {
  display: inline-block;
}
.post-details .comment.collapsed .body,
.post-details .comment.collapsed .replies {
  display: none;
  overflow: hidden;
}
.post-details .comment .replies.has-replies {
  margin-top: 1em;
}

h1 {
  display: inline-block;
  margin: 0;
  line-height: 60px;
  text-indent: 0.5em;
  vertical-align: middle;
}
.subreddit-search {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  white-space: nowrap;
}
.subreddit-search input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.subreddit-search button {
  vertical-align: middle;
}
.sort-options {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.posts {
  padding-left: 2em;
  padding-top: 70px;
}
.post {
  height: 60px;
  padding: 10px;
  border-bottom: 1px dashed #ddd;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.post.active {
  background: #eee;
}
.post .id,
.post .score {
  display: inline-block;
  line-height: 60px;
  height: 60px;
  vertical-align: top;
}
.post .id {
  width: 30px;
}
.post .score {
  font-weight: bold;
  width: 50px;
}
.post .thumb {
  width: 60px;
  max-height: 100%;
  margin-right: 10px;
  vertical-align: middle;
}
.post .details {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  max-width: 80%;
}
.post .details > * {
  margin-right: 5px;
}
.post .details .title {
  vertical-align: top;
  display: block;
  color: #00f;
  font-size: 16px;
  font-weight: normal;
}
.post .details .author {
  display: inline-block;
  margin-top: 1em;
}
.post .details .comment-count:before {
  content: '-';
  display: inline-block;
  margin-right: 5px;
}
