doctype html
html
    head
        title reddit React

        link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
        script(src='vendor/q/q.js')
        script(src='vendor/react/react-with-addons.min.js')

        link(rel='stylesheet', href='css/base.css')
        script(src='js/app.min.js')

    body
        include blocks/header

        include blocks/posts